@import "tailwindcss";

@theme {
  --color-brand-500: #3b82f6;
  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-[#0f0f0f] text-[#f1f1f1] w-full min-h-screen antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar for horizontal scrolling strips */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
